################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Buoi_1/FileContentIndex
/Buoi_1/.vs/Buoi_1/FileContentIndex
/Buoi_1/obj/Debug
